@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #ad9d07;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --primary: var(--accent);
  --font-ancizar: "PT Serif", serif;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0800;
    --foreground: #ededed;
    --accent: #ad9d07;

  }
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins),Arial, Helvetica, sans-serif;
}

.h-cut {
  height: calc(100vh - 300px);
}
